@font-face {
  font-family: 'Futura PT Light';
  src: url('./fonts/FuturaPTLight.otf');
  src: url('./fonts/FuturaPTLight.otf#iefix') format('embedded-opentype'),
    url('./fonts/FuturaPTLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 14px;
  font-family: 'Futura PT Light', 'Roboto', 'Arial', 'sans-serif';
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
